# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules_cache/
node_modules
# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# API Keys (NEVER commit these)
client_secret_*.json
google-credentials.json
.env

# Build artifacts
*.ipa
*.aab

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Temporary folders
tmp/
temp/


client_secret_130886757579-qmk2ck8ebg88vk4rid19i6qh0fll8aif.apps.googleusercontent.com.json
client_130886757579-4ppdq37v6f4a42kobr22ukl8qq3o0e3u.apps.googleusercontent.com.plist
client_secret_130886757579-les9fso4eeqhbat1ak3fe2e2918lcb9n.apps.googleusercontent.com.json